<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu App Spring</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<style>
    .glass{
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
    }
</style>
<body th:style="|background-image:url(@{/assets/background.svg});|" class="bg-cover bg-no-repeat bg-fixed">
    <header class="min-w-full h-10 mt-5 glass grid grid-cols-5 gap-3">
        <div class="bg-yellow-500 rounded-lg"></div>
        <div class="rounded-lg col-span-3 text-center content-center">
            <div class="grid grid-cols-4 gap-3 w-full">
                <div class="bg-red-500 rounded-lg"></div>
                <div class="bg-red-500 rounded-lg"></div>
                <div class="bg-red-500 rounded-lg"></div>
                <div class="bg-red-500 rounded-lg"></div>
            </div>
        </div>
        <div class="bg-blue-500 ngh rounded-lg"></div>
    </header>


    <main class="flex flex-grow flex-col items-center justify-center px-4 my-40">
        <div class="w-64 h-64 glass shadow-2xl rounded-lg">

        </div>
    </main>
</body>
</html>