<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu App Spring</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<style th:replace="~{layout/layout.html :: styleGlass}"></style>
<body th:style="|background-image:url(@{/assets/background.svg});|" class="bg-cover bg-no-repeat bg-fixed min-h-screen flex flex-col">
<header th:replace="~{layout/layout.html :: header}"></header>

<main class="grid grid-cols-5 w-full gap-3 flex-1 px-10 py-10">
    <div class="h-full">
    </div>
    <div class="h-full col-span-3 flex justify-center items-center">
        <div class="w-96 h-96 glass rounded-lg shadow-lg border border-gray-700">
            <div class="h-full w-full justify-center items-start text-center pt-5">
                <h2 class="font-extralight text-3xl text-gray-200">Bem Vindo!</h2>
            </div>
        </div>
    </div>
    <div class="h-full">
    </div>
</main>

<footer th:replace="~{layout/layout.html :: footer}"></footer>
</body>
</html>