<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agenda Curso</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<style th:fragment="styleGlass">
    .glass {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
    }
</style>
<body th:style="|background-image:url(@{/assets/background.svg});|"
      class="bg-cover bg-no-repeat bg-fixed min-h-screen flex flex-col">
<header class="min-w-full h-10 mt-5 grid grid-cols-5 gap-3 px-10 " th:fragment="header">
    <div class="w-full h-full flex items-center justify-start space-x-2">
        <div class="rounded-full p-1 px-2">
            <i class="text-gray-200 fa fa-solid fa-calendar-days text-xl"></i>
        </div>
        <p class="text-gray-200 font-extralight text-xl mx-3">
            Grupo 5
        </p>
    </div>
    <div class="col-span-3 text-center px-20 h-full glass rounded-lg shadow-lg border border-gray-700">

        <div class="grid grid-cols-5 gap-3 w-full h-full items-center" th:if="${alunoLogado.getRole() eq 'admin'}">
            <a href="/" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Home</a>
            <a href="/Agenda/" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Agenda</a>
            <a href="/Agenda/AlterarGrade" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Alterar
                Grade</a>
            <div class="relative inline-block text-left group">

                <a href="/"
                   class="inline-flex items-center text-gray-200 hover:text-white transition-all font-extralight text-xl">
                    Administração
                    <svg class="w-5 h-5 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>

                <div class="absolute left-0 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10
                hidden group-hover:block">
                    <div class="py-1" role="menu" aria-orientation="vertical">
                        <a href="/Admim/Professor"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">
                            Professores
                        </a>
                        <a href="/Admim/Turma"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">
                            Turmas
                        </a>
                        <a href="/Admim/Diciplina"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">
                            Diciplinas
                        </a>
                    </div>
                </div>
            </div>
            <a href="/Sobre" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Sobre</a>
        </div>

        <div class="grid grid-cols-4 gap-3 w-full h-full items-center" th:if="${alunoLogado.getRole() eq 'Comum'}">
            <a href="/" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Home</a>
            <a href="/Agenda/" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Agenda</a>
            <a href="/Agenda/AlterarGrade" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Alterar
                Grade</a>
            <a href="/Sobre" class="text-gray-200 hover:text-2xl transition-all font-extralight text-xl">Sobre</a>
        </div>
    </div>
    <div class="w-full h-full flex items-center justify-end space-x-2">
        <p th:text="${alunoLogado.getNome()}" class="text-gray-200 font-extralight text-sm mx-3"></p>

        <a href="/login?logout">
            <div class="bg-gray-500 rounded-full p-1 px-2">
                <i class="text-gray-200 fa fa-solid fa-user text-xl"></i>
            </div>
        </a>
    </div>
</header>

<footer class="w-full" th:fragment="footer">

</footer>

</body>
</html>