<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu App Spring</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<style th:replace="~{layout/layout.html :: styleGlass}"></style>
<body th:style="|background-image:url(@{/assets/background.svg});|"
      class="bg-cover bg-no-repeat bg-fixed min-h-screen flex flex-col">
<header th:replace="~{layout/layout.html :: header}"></header>

<main class="grid grid-cols-5 w-full gap-3 flex-1 px-10 py-10 glass my-5">
    <div class="h-full bg-gray-200 rounded-lg shadow-lg border border-gray-700">
    </div>
    <div class="h-full col-span-3 flex justify-center items-center bg-gray-200 rounded-lg shadow-lg border border-gray-700">
        <div class="w-full mx-auto bg-white shadow-sm overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 border-collapse table-fixed">

                <thead class="bg-gray-50">
                <tr>
                    <th class="w-1/6 py-3.5 px-4 text-left text-sm font-semibold text-gray-700">
                        Horário
                    </th>

                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">
                        <div class="flex flex-col items-center">
                            <span>SEG</span>
                        </div>
                    </th>
                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">
                        <div class="flex flex-col items-center">
                            <span>TER</span>
                        </div>
                    </th>
                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">
                        <div class="flex flex-col items-center">
                            <span>QUA</span>
                        </div>
                    </th>
                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">
                        <div class="flex flex-col items-center">
                            <span>QUI</span>
                        </div>
                    </th>
                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">
                        <div class="flex flex-col items-center">
                            <span>SEX</span>
                        </div>
                    </th>
<!--                    <th class="w-1/6 py-3.5 px-4 text-center text-sm font-semibold text-gray-700">-->
<!--                        <div class="flex flex-col items-center">-->
<!--                            <span>SÁB</span>-->
<!--                        </div>-->
<!--                    </th>-->
                </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">

                <tr class="h-20"
                    th:each="linha : ${horariosLinha}"
                    th:if="${linha.isVisivel()}">
                    <td class="py-4 px-4 align-top text-xs font-medium text-gray-500"
                        th:text="${linha.getHorarioVisual()}">00:00 - 00:00
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getSegunda() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getSegunda()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getSegunda()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getSegunda()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getTerca() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getTerca()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getTerca()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getTerca()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getQuarta() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getQuarta()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getQuarta()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getQuarta()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getQuinta() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getQuinta()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getQuinta()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getQuinta()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getSexta() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getSexta()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getSexta()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getSexta()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                    <td class="py-2 px-3 align-top">
                        <div class="bg-blue-100 border border-blue-300 rounded-md p-2 text-xs h-full overflow-y-auto break-words"
                             th:if="${linha.getSabado() != null}">
                    <span class="font-bold text-blue-800"
                          th:text="${linha.getSabado()?.getTurma()?.getDiciplina()?.getNome()}">Nome da Diciplina</span>
                            <div class="text-gray-600 mt-1">
                                <span th:text="${linha.getSabado()?.getSala()}">Sala</span>
                                <span> | </span>
                                <span th:text="${linha.getSabado()?.getTurma()?.getProfessor()?.getNome()}">Sala</span>
                            </div>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="h-full bg-gray-200 rounded-lg shadow-lg border border-gray-700">
    </div>
</main>

<footer th:replace="~{layout/layout.html :: footer}"></footer>
</body>
</html>